.blog-heading {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
  text-transform: uppercase;
  padding-top: 30px;
}
.blog-heading::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}
.CasestudiesArrow{
  width: 35% !important;
}

.blog-card,
.blog_left {
  position: relative;
}
.blog-card::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: -90px;
  right: 0px;
  height: 1px;
  width: 122%;
  background-image: linear-gradient(to left, #b7b7b7, #f6f6f6);
  background-image: -webkit-linear-gradient(to left, #bda6a6, #f6f6f6);
  background-image: -moz-linear-gradient(left, #000, transparent);
  background-image: -o-linear-gradient(left, #000, transparent);
}
.blog-title {
  color: rgba(0, 0, 0, 0.9);
  font-family: Barlow;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.24px;
  padding-top: 20px;
  padding-bottom: 48px;
}
.blog-thumbnail > img {
  transition: all 0.5s;
  padding: 0 25px;
}

.case-thumbnail {
  overflow: hidden;
}

.case-thumbnail-wrapper {
  position: relative;
}

.blog__card__wrapper {
  position: relative;
}
.case-thumbnail-wrapper:before,
.blog__card__wrapper::before,
.blog__card__wrapper.odd:last-child .blog-card::before {
  content: "";
  background-image: linear-gradient(to right, #dbdbdb, #535353, #dbdbdb);
  background-image: -webkit-linear-gradient(
    to right,
    #dbdbdb,
    #535353,
    #dbdbdb
  );
  background-image: -moz-linear-gradient(left, #000, transparent);
  background-image: -o-linear-gradient(left, #000, transparent);
  height: 1px;
  width: 110%;
  position: absolute;
  left: -34px;
}

.blog__card__wrapper.odd::before {
  width: 107%;
  left: -34px;
}

.blog__card__wrapper.odd:last-child:after {
  left: -34px;
  width: 107%;
}

.blog__card__wrapper.even:first-child .blog_left::before {
  top: -125px;
  height: 130%;
}

.blog__card__wrapper.odd:last-child .blog-card::before {
  right: -1px;
  height: 100%;
  width: 1px;
  top: 60px;
  left: unset;
  background-image: linear-gradient(to top, #dbdbdb, #535353, #f7f7f7);
}

.blog__card__wrapper.even::before {
  width: 100%;
  left: 0;
}

.case-thumbnail-wrapper:after,
.blog__card__wrapper::after {
  content: "";
  background-image: linear-gradient(to right, #dbdbdb, #535353, #dbdbdb);
  background-image: -webkit-linear-gradient(
    to right,
    #dbdbdb,
    #535353,
    #dbdbdb
  );
  background-image: -moz-linear-gradient(left, #000, transparent);
  background-image: -o-linear-gradient(left, #000, transparent);
  height: 1px;
  width: 110%;
  position: absolute;
  left: -34px;
}

.blog__card__wrapper::after {
  width: 100%;
  left: 0;
}
.case-thumbnail::after,
.blog-card::after {
  content: "";
  background-image: linear-gradient(to top, #efefef, #535353, #dbdbdb);
  background-image: -webkit-linear-gradient(to top, #efefef, #535353, #efefef);
  background-image: -moz-linear-gradient(top, #000, transparent);
  background-image: -o-linear-gradient(top, #000, transparent);
  height: 125%;
  width: 1px;
  position: absolute;
  top: -50px;
  left: 0;
}

.case-thumbnail::before {
  content: "";
  background-image: linear-gradient(to top, #efefef, #535353, #dbdbdb);
  background-image: -webkit-linear-gradient(to top, #efefef, #535353, #efefef);
  background-image: -moz-linear-gradient(top, #000, transparent);
  background-image: -o-linear-gradient(top, #000, transparent);
  height: 108%;
  width: 1px;
  position: absolute;
  top: -50px;
  right: -1px;
}

.blogs__container .col-md-6 {
  padding: 0;
}
.blog_left::before {
  content: "";
  background-image: linear-gradient(to top, #efefef, #535353, #dbdbdb);
  background-image: -webkit-linear-gradient(to top, #efefef, #535353, #efefef);
  background-image: -moz-linear-gradient(top, #000, transparent);
  background-image: -o-linear-gradient(top, #000, transparent);
  height: 108%;
  width: 1px;
  position: absolute;
  top: -50px;
  left: 0;
}

.row.case-card:last-child .case-thumbnail::before {
  top: 20px;
}

.case-card.even .case-thumbnail::before {
  left: 0;
  height: 100%;
  top: 0;
}
.case-thumbnail > img {
  width: 100%;
  padding: 25px;
  transition: all 0.5s ease;
  /* padding-left: 100px; */
  /* padding-right: 10px; */
  /* margin-left: 50px; */
}
.blog-border {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.blog-thumbnail {
  overflow: hidden;
}
.blog-card:hover > .blog-thumbnail > img,
.blog_left:hover > .blog-thumbnail > img {
  transform: scale(1.175);
}
.case-card:hover > div > div > .case-thumbnail > img {
  transform: scale(1.175);
}
.case-card:hover > div > div > .blog-heading::after {
  /* width: 100%; */
}
.resource-button {
  font: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  text-transform: uppercase;
  padding: 1em 3.6em;
  color: #000;
  background-color: #fff;
  border: none;
  cursor: pointer;
  position: absolute;
  box-shadow: rgb(255, 255, 255) 8px 8px 0px -1px, rgb(000, 000, 000) 8px 8px;
  transition: all 0.25s ease-in-out;
}
.resource-button:hover {
  box-shadow: 0em 0em #000;
  transform: translate(0.25em, 0.25em);
}
.margin-top--3 {
  margin-top: -48% !important;
}
.animated-svg {
  animation: moveUpAndDown 3s ease-in-out infinite;
}
/* .mobileArrow{
  width: 9% !important;
}
.projectArrow{
  width: 7% !important;
} */
@keyframes moveUpAndDown {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(0, -31.4956%, 0);
  }
  50%,
  100% {
    opacity: 0;
    transform: translate3d(0, -61.4956%, 0);
  }
}
.arrowlottie{
  margin-left: 20%;
}
/*mobile only media view*/
@media (max-width: 768px) {
  .case-thumbnail-wrapper:before {
    width: 100% !important;
  }
  .case-thumbnail-wrapper:after {
    width: 100% !important;
  }
  .sticky-top {
    position: relative !important;
  }
  .sidebar-btn-section--2 {
    top: -95px !important;
  }
  .sidebar-btn-section--3 {
    top: -95px !important;
  }
  .blog-heading {
    padding-top: 15px;
  }
  .blog-title {
    padding-top: 10px;
  }
  .arrowlottie{
    margin-left: 94%;
  }
}
