.blog-heading {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
  text-transform: uppercase;
  padding-top: 30px;
}
.blog-heading::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}
.blog-card:hover > .blog-heading::after {
  /* width: 100%; */
}
.blog-card {
  /* border-bottom: 1px solid #ccc;  */
  position: relative;
  
  /* justify-content: flex-start; */
}
 .blog-card::after
 {
  content: "";
  position: absolute;
  bottom: -6px;
   left: -90px;
  right: 0px;
  height: 1px;
  width: 122%;
  background-image: linear-gradient(to left, #b7b7b7, #f6f6f6);
  background-image: -webkit-linear-gradient(to left, #bda6a6, #f6f6f6);
  background-image: -moz-linear-gradient(left, #000, transparent);
  background-image: -o-linear-gradient(left, #000, transparent); 
 }  
.blog-title {
  color: rgba(0, 0, 0, 0.9);
  font-family: Barlow;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.24px;
  padding-top: 20px;
  padding-bottom: 40px;
}
.blog-thumbnail > img {
  width: 100%;
  border-top: 25px solid transparent;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  transition: all 0.5s;
}

.case-thumbnail {
  overflow: hidden;
}

.case-thumbnail-wrapper {
  position: relative;
}

.case-thumbnail-wrapper:before {
  content: "";
  background-image: linear-gradient(to right, #dbdbdb, #535353, #dbdbdb);
  background-image: -webkit-linear-gradient(
    to right,
    #dbdbdb,
    #535353,
    #dbdbdb
  );
  background-image: -moz-linear-gradient(left, #000, transparent);
  background-image: -o-linear-gradient(left, #000, transparent);
  height: 1px;
  width: 110%;
  position: absolute;
  left: -34px;
}

.case-thumbnail-wrapper:after {
  content: "";
  background-image: linear-gradient(to right, #dbdbdb, #535353, #dbdbdb);
  background-image: -webkit-linear-gradient(
    to right,
    #dbdbdb,
    #535353,
    #dbdbdb
  );
  background-image: -moz-linear-gradient(left, #000, transparent);
  background-image: -o-linear-gradient(left, #000, transparent);
  height: 1px;
  width: 110%;
  position: absolute;
  left: -34px;
}

.case-thumbnail::after {
  content: "";
  background-image: linear-gradient(to top, #efefef, #535353, #dbdbdb);
  background-image: -webkit-linear-gradient(to top, #efefef, #535353, #efefef);
  background-image: -moz-linear-gradient(top, #000, transparent);
  background-image: -o-linear-gradient(top, #000, transparent);
  height: 125%;
  width: 1px;
  position: absolute;
  top: -50px;
  left: 0;
}

.case-thumbnail::before {
  content: "";
  background-image: linear-gradient(to top, #efefef, #535353, #dbdbdb);
  background-image: -webkit-linear-gradient(to top, #efefef, #535353, #efefef);
  background-image: -moz-linear-gradient(top, #000, transparent);
  background-image: -o-linear-gradient(top, #000, transparent);
  height: 108%;
  width: 1px;
  position: absolute;
  top: -50px;
  right: -1px;
}

.row.case-card:last-child .case-thumbnail::before {
  top: 20px;
}

.case-card.even .case-thumbnail::before {
  left: 0;
  height: 100%;
  top: 0;
}
.case-thumbnail > img {
  width: 100%;
  padding: 25px;
  transition: all 0.5s ease;
  /* padding-left: 100px; */
  /* padding-right: 10px; */
  /* margin-left: 50px; */

}
.blog-border {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.blog-card:hover > .blog-thumbnail > img {
  border-top: 0px solid transparent;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  width: 100%;
}
.case-card:hover > div > div > .case-thumbnail > img {
  transform: scale(1.175);
}
.case-card:hover > div > div > .blog-heading::after {
  /* width: 100%; */
}
.resource-button {
  font: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  text-transform: uppercase;
  padding: 1em 3.6em;
  color: #000;
  background-color: #fff;
  border: none;
  cursor: pointer;
  position: absolute;
  box-shadow: rgb(255, 255, 255) 8px 8px 0px -1px, rgb(000, 000, 000) 8px 8px;
  transition: all 0.25s ease-in-out;
}
.resource-button:hover {
  box-shadow: 0em 0em #000;
  transform: translate(0.25em, 0.25em);
}
.margin-top--3 {
  margin-top: -46% !important;
}
.animated-svg {
  animation: moveUpAndDown 1.6s ease-in infinite;
}
@keyframes moveUpAndDown {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(0, -31.4956%, 0);
  }
  50%,
  100% {
    opacity: 0;
    transform: translate3d(0, -61.4956%, 0);
  }
}
