.slick-track {
  cursor: grab;
}
h3 {
  font-weight: 400;
  font-size: 2.6rem;
}
.sub-heading p {
  font-style: normal;
  font-weight: 400;
  font-size: 14.5px;
  line-height: 19px;
  align-items: center;
  letter-spacing: 0.02em;
}
.card-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  opacity: 0.6;margin-top: -10px;
}
.card-icon {
  width: 14%;
}
.card-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 53px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.9;
}

.story-icon {
  position: relative;
  /* margin-left: 30px; */
}
.story-icon:after {
  content: "";
  background-image: url("../images/story-dash.svg");
  width: 95%;
  display: inline-block;
  margin-left: 25px;
  height: 1px;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
}

.slick-prev,
.slick-next {
  position: absolute;
  bottom: -15px;

  cursor: pointer;
}

.slick-prev {
  left: -175px;
  rotate: 180deg;
}
.slick-next {
  left: -75px;
}

.slider-container {
  margin: 0;
  margin-bottom: 75px;
}

.slider-container_left {
  position: relative;
}
.slider-container_left > img {
  position: absolute;
  left: 50%;
  top: 35%;
}

/* Mobile styles */

@media (max-width: 767px) {
  .story-icon:after {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .last-icon::after {
    content: none;
  }
}
@media (max-width: 767px) {
  .slick-track {
    margin-left: 15px;
  }
}
