@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;400;600;800&display=swap");
body,
html,
div,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Barlow", sans-serif;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  overflow: auto;
}

/* Webkit */
body::-webkit-scrollbar {
  width: 0;
  background: transparent; /* optional: hide scrollbar track */
}

.font-size-15 {
  font-size: 15px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.w-90 {
  width: 90%;
}
.w-80 {
  width: 80%;
}
/*===============================Custom CSS================================*/
/* ========================================industry */
.indistryHeading {
  color: #000000;
  font-style: normal;
  font-weight: 550;
  font-size: 16px;
  line-height: 24px;
}
.indistry-content {
  font-size: 0.92rem;
  font-style: normal;
}
.indistryImage {
  width: 100%;
  /* cursor: pointer; */
  box-shadow: rgb(255, 255, 255) 8px 8px 0px -1px, rgb(000, 000, 000) 8px 8px;
  transition: all 0.25s ease-in-out;
}
.indistryImage:hover {
  box-shadow: 0em 0em #000;
  transform: translate(0.25em, 0.25em);
}
a {
  text-decoration: none !important;
}
/* heading-- industry */
h1 {
  display: flex;
  align-items: center;
  color: #000;
  font-style: normal;
  font-weight: 500;
}
.section-heading:before,
.section-heading:after {
  flex: 1;
  height: 3px;
  content: "";
  background-color: currentColor;
}
.section-heading::before {
  margin-right: 14px;
}
.section-heading::after {
  margin-left: 14px;
}
.section-heading.left-aligned::before {
  flex: 0;
  margin-right: 0;
}
.section-heading.right-aligned::after {
  flex: 0;
  margin-left: 0;
}
/*==========================================header*/
/*.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 999;
  transition: all 0.3s ease-in-out;
}
.sticky {
  background-color: #333;
  color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}*/
.text-light-color {
  color: #bdbdbd !important;
}
.text-light-space {
  padding-right: 16px;
}
.border-bottom-bold {
  border-bottom: 3px solid black;
}
.sidebar-btn-section {
  position: sticky;
  top: 75px !important;
}
.custom-pl {
  padding-left: 38%;
}
/* =======================================Resource */
.resource-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.9);
}
.resource-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.9);
  opacity: 0.8;
}
.resource-hover > .resource-image {
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  padding: 1.4rem;
}
.resource-hover:hover > .resource-image {
  padding: 0;
}
.border-white {
  border: 6px solid #fff;
}
/*========================================Footer*/
.cool-link {
  text-decoration-line: underline;
}
.footer {
  /* height: 100vh; */
  background: #1a1a1a !important;
}
.bg-dark {
  background-color: #1a1a1a !important;
}
.footer-title {
  font-size: 6.6vw;
  font-weight: 600;
}
.footer-heading {
  font-weight: 600;
  color: #fff;
  font-size: 1rem;
}
.footer-card ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-card a {
  color: #fff;
  font-size: 0.92rem;
  font-weight: 200;
  text-decoration: none;
}
.post-footer {
  font-size: 1.2rem;
  color: lightgrey;
}
.footerArrow{
  margin-left: 100px;
  width: 5%;
}
.projectFooterArrow{
  margin-left: 100px;
  width: 5% !important;
}
/* gradient effect */
@keyframes animationgradienttitle {
  0% {
    background-position: 0 1600px;
  }
  100% {
    background-position: 1600px 0;
  }
}
.c-article__title {
  color: #fc3735;
  background: -webkit-linear-gradient(
    left,
    #aa9feb,
    #d7bbe5,
    #e0f9c1,
    #c0b7e6,
    #b9dfe5,
    #c0b7e6,
    #e0f9c1,
    #d7bbe5,
    #aa9feb
  );
  background-size: 1600px 200px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-duration: 8s;
  animation-name: animationgradienttitle;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
.font-weight-300 {
  font-weight: 600;
  color: #000;
}
.text-align-center {
  text-align: center;
}
.text-align-end {
  text-align: end;
}
.right_border {
  border-right: 1px solid #ccc;
}
.top_border {
  border-top: 1px solid #ccc;
  position: relative;
  width: 110%;
  left: -35px;
  background: -o-linear-gradient(left, #000, transparent);
  background: -webkit-linear-gradient(to left, #bda6a6, #f6f6f6);
  background: -moz-linear-gradient(left, #000, transparent);
  background: -o-linear-gradient(left, #000, transparent);
}
.top_border ::before {
  background: #ccc;
  content: "";
  position: absolute;
  left: -80px;
  right: 0px;
  height: 1px;
  width: 120%;
  background: linear-gradient(to left, #b7b7b7, #f6f6f6);
  background: -webkit-linear-gradient(to left, #bda6a6, #f6f6f6);
  background: -moz-linear-gradient(left, #000, transparent);
  background: -o-linear-gradient(left, #000, transparent);
}
.left_border {
  border-left: 1px solid #ccc;
}
.extra-border-left {
  border-left: 1px solid #ccc;
}
/* ================================================= Thank you */
.button-thanks {
  font: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  text-transform: uppercase;
  padding: 1em 4em;
  color: #000;
  background-color: #fff;
  border: none;
  cursor: pointer;
  box-shadow: rgb(255, 255, 255) 8px 8px 0px -1px, rgb(000, 000, 000) 8px 8px;
  transition: all 0.25s ease-in-out;
}
.button-thanks:hover {
  box-shadow: 0em 0em #000;
  transform: translate(0.25em, 0.25em);
}
.view-projects {
  color: #1a1a1a;
  text-align: center;
  font-family: Barlow;
  font-size: 13.714px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 131.25% */
  text-transform: uppercase;
}
.thank-you {
  color: #1a1a1a;
  text-align: center;
  font-family: Barlow;
  font-size: 159.62px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: -webkit-linear-gradient(
    left,
    #aa9feb,
    #d7bbe5,
    #e0f9c1,
    #c0b7e6,
    #b9dfe5,
    #c0b7e6,
    #e0f9c1,
    #d7bbe5,
    #aa9feb
  );
  background-size: 1600px 200px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-duration: 8s;
  animation-name: animationgradienttitle;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
/* ================================================= Services */
.button {
  font: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  text-transform: uppercase;
  padding: 1em 2em;
  color: #000;
  background-color: #fff;
  border: none;
  cursor: pointer;
  position: absolute;
  box-shadow: rgb(255, 255, 255) 8px 8px 0px -1px, rgb(000, 000, 000) 8px 8px;
  transition: all 0.25s ease-in-out;
}
.button:hover {
  box-shadow: 0em 0em #000;
  transform: translate(0.25em, 0.25em);
}
.blog_left {
  position: relative;
}
.blog_left::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -12px;
  right: 0px;
  height: 1px;
  width: 120%;
  background-image: linear-gradient(to right, #b7b7b7, #f6f6f6);
  background-image: -webkit-linear-gradient(to right, #bda6a6, #f6f6f6);
  background-image: -moz-linear-gradient(right, #000, transparent);
  background-image: -o-linear-gradient(right, #000, transparent);
}
.lottioArrow{
  width: 20% !important;
}
.form-floating > label {
  padding: 1rem 0rem !important;
}
.form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown), .form-floating > .form-control-plaintext:focus, .form-floating > .form-control-plaintext:not(:placeholder-shown) {
  padding-top: 1.625rem !important;
  padding-bottom: 0rem !important;
  padding-left: 0rem !important;
}
.media-icon5 {
  width: 74.5px !important;
}
/*desktop only media view*/
@media (min-width: 768px) {
  .height-100vh {
    height: 100vh;
    padding-top: 8vh;
    padding-bottom: 8vh;
  }
  .desktop-d-none {
    display: none !important;
  }
  .text-align-right {
    text-align: -webkit-right !important;
  }
  .w-85 {
    width: 85% !important;
  }
  .main-container {
    max-width: 1140px !important;
  }
  .pt-md-6 {
    padding-top: 0.8rem !important;
  }
  .pt-md-7 {
    padding-top: 7rem;
  }
  .custom-row {
    --bs-gutter-x: 5rem !important;
  }
  .col-md-custom-2 {
    flex: 0 0 auto !important;
    width: 20% !important;
  }
  .col-md-custom-footer-1 {
    flex: 0 0 auto !important;
    width: 15% !important;
  }
  .col-md-custom-footer-2 {
    flex: 0 0 auto !important;
    width: 24% !important;
  }
  .col-md-custom-footer-3 {
    flex: 0 0 auto !important;
    width: 22% !important;
  }
  .col-md-custom-footer-4 {
    flex: 0 0 auto !important;
    width: 25% !important;
  }
  .col-md-custom-footer-5 {
    flex: 0 0 auto !important;
    width: 14% !important;
  }
  .w-md-12 {
    width: 15% !important;
  }
  .odd-section {
    padding-top: 160px;
  }
  .even-section {
    padding-top: 60px;
  }
  h1 {
    font-size: 4.5rem;
  }
  .industry-card {
    padding-right: 16%;
  }
  .navbar-brand {
    font-size: 24px !important;
  }
  .p-absolute {
    position: relative;
    align-items: end;
    display: flex;
  }
  .section-heading {
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
  }
  .section-heading-only {
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
  }
  .pl-md-5 {
    padding-left: 3rem !important;
  }
  .mobile-navbar-container {
    display: none !important;
  }
  .w-440 {
    width: 380px !important;
  }
  .lottioArrow{
    width: 9% !important;
  }
  .footerArrow{
    margin-left: 110px; 
    margin-top: -25px;
    width: 4% !important;
  }
  .projectFooterArrow{
    margin-left: 110px; 
    margin-top: -25px;
    width: 4% !important;
  }
  .heading-logo {
    margin-left: 8%;
  }
}
/* .form-floating > label {
  padding: 1.8rem 0rem !important;
} */
/* .form-floating > .form-control:focus ~ label, .form-floating > .form-control:not(:placeholder-shown) ~ label, .form-floating > .form-control-plaintext ~ label, .form-floating > .form-select ~ label {
  transform: scale(0.86) translateY(-1.5rem) translateX(0.25rem) !important;
} */
/*mobile only media view*/
@media (max-width: 768px) {
  .pb-sm-0 {
    padding-bottom: 0px !important;
  }
  .media-icon5 {
    width: 58px !important;
  }
  .footerArrow{
    margin-left: 125px; /* Override margin for mobile */
    margin-top: -15px;
    width: 5% !important;
  }
  .projectFooterArrow{
    margin-left: 70px; /* Override margin for mobile */
    margin-top: -15px;
    width: 5% !important;
  }
  .mob-pt-2 {
    padding-top: 1.3rem;
  }
  .last-icon:after {
    display: none !important;
  }
  .w-440 {
    width: 300px !important;
  }
  .mobile-d-none {
    display: none !important;
  }
  .heading-logo {
    width: 65% !important;
    padding-bottom: 10%;
    margin-left: 0px !important;
  }
  .work-heading {
    padding-top: 20px;
  }
  h1,
  .h1 {
    font-size: calc(1.375rem + 3.5vw) !important;
  }
  .marTop--20per {
    margin-top: -10% !important;
  }
  .marTop--15per {
    margin-top: -12% !important;
  }
  .gallery {
    grid-gap: 85px !important;
    grid-auto-rows: auto !important;
    margin: 30px auto !important;
  }
  .gallery__item > img {
    max-height: 250px;
  }
  .overflow-x-hidden {
    overflow-x: hidden;
  }
  .top-heading {
    font-size: 42px !important;
  }
  .mobile-h-65vh {
    height: 65vh;
  }
  .mobile-none {
    display: none;
  }
  .thank-you {
    font-size: 80px;
  }
  .button-thanks {
    width: 100%;
  }
  .portfolio-heading {
    font-size: 24px !important;
  }
  .portfolio-sub-heading a {
    font-size: 20px !important;
  }
  .top-sub-heading {
    font-size: 18px !important;
  }
  .resource__page .zoom-effect-container {
    padding: 16px 20px !important;
  }
  .odd-res > .wrapper {
    padding-top: 0 !important;
  }
  .footer-title {
    font-size: 9vw;
  }
  .slick-list {
    padding-left: 10px !important;
  }
  .blog_left::before,
  .blog_left::after {
    content: none !important;
  }
  .pl-xs-2 {
    padding-left: 0.5rem !important;
  }
  .accordion-button:not(.collapsed) {
    color: #1a1a1a !important;
    font-weight: 600;
  }
  .media-w-100 {
    grid-column: span 2 !important;
    /* padding-right: 10px !important; */
  }
  .footer-content {
    font-size: 0.8rem;
  }
  .pt-media-4 {
    padding-top: 1.4rem;
  }
  .footer-card a {
    font-size: 0.7em;
  }
  .footer-heading {
    font-size: 0.9rem;
  }
  .industry-card {
    padding: 12px;
  }
  .even-section {
    padding-top: 100px;
  }
  .odd-section {
    position: relative;
    margin-top: -10px;
  }
  .indistryHeading {
    font-size: 16px;
    font-weight: 600;
  }
  .indistry-content {
    font-size: 13px;
    font-style: normal;
  }
  .sub-heading p {
    font-size: 14px !important;
  }
  .section-heading:before,
  .section-heading:after {
    flex: 0;
  }
  .font-media-15 {
    font-size: 15px !important;
  }
  .navbar-brand {
    font-size: 20px !important;
  }
  .text-align-media-left {
    text-align: left;
  }
  .heading-quote {
    font-size: 7vw !important;
    line-height: 30px !important;
  }
  /* .content {
    bottom: 40% !important;
  } */
  .navbar-collapse {
    background: #1a1a1a;
    z-index: 9999;
  }
  .bg-dark {
    background: #1a1a1a;
  }
  .text-dark {
    color: #1a1a1a;
  }
  nav {
    z-index: 9999;
  }
  .card-text {
    font-size: 14px !important;
  }
  figure.effect-sadie h2 {
    font-size: 27px !important;
    line-height: 35px !important;
  }
  .custom-pl {
    padding-left: 0;
    text-align: left;
    font-size: 13px;
  }
  .section-heading {
    padding-bottom: 15px;
  }
  .sub-heading {
    padding-bottom: 20px;
  }
  .lottioArrow{
    width: 7% !important;
  }
}

/* tabs and pills */

.vertical-tabs {
  display: flex;
}

.vertical-tabs .nav-pills {
  flex-basis: 20%;
  flex-shrink: 0;
}

.vertical-tabs .nav-link {
  text-align: left;
}

.vertical-tabs .tab-content {
  flex-basis: 80%;
  flex-shrink: 0;
}
.animated-svg:hover {
  transition: translate3d(0px, -5px, 0px);
}

/*  slider slick */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-slide {
  float: left;
  min-height: 1px;
  overflow: hidden;
}
.slick-track {
  display: flex;
}
.slick-slide > div {
  flex: 0 0 auto;
  padding: 0 30px; /* Adjust the padding as needed */
}
.creator-sub-heading {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.slick-dots {
  position: absolute;
  bottom: 10px;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots li button {
  display: block;
  width: 10px;
  height: 10px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: #bbb;
  text-indent: -9999px;
  cursor: pointer;
  outline: none;
}

.slick-dots li.slick-active button {
  background-color: #000;
}
/*wizard*/
.contact-logo {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #1a1a1a;
  margin-top: -12px;
  text-decoration: none;
}
.form-wizard {
  display: flex;
}
.border-element {
  border: 2px solid rgba(0, 0, 0, 0.1);
}
.progress-step {
  padding-top: 15px;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 25px;
  color: #1a1a1a;
  opacity: 0.5;
}
.sub-progress-step {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  list-style: none;
}
.sub-progress-step > li {
  padding-top: 10px;
}
.progress-step.active {
  color: #1a1a1a;
  opacity: 1;
}
.form-select:focus,
.form-control:focus,
FormControl:focus {
  box-shadow: none;
  border-bottom-color: #2196f3;
}

@media (max-width: 767px) {
  .slick-slide > div {
    padding: 0 12px; 
  }

  .article-heading {
    text-align: center;
    font-size: 28px !important;
    font-style: normal;
    font-weight: 500 !important;
    justify-content: center;
  }
  .article-sub-heading,
  .article-sub-heading > h2 {
    font-family: Barlow;
    font-size: 12px !important;
    padding-right: 0rem !important;
    padding-left: 0px !important;
    display: flex;
    justify-content: space-evenly !important;
    letter-spacing: 0.26px;
  }
  .article-heading > span:last-child {
    display: inline-block;
    text-align: right; /* Aligns the last word to the right */
  }
}

/* label test */
input[type="checkbox"] {
  position: relative;
  border: 2px solid #000;
  border-radius: 2px;
  background: none;
  cursor: pointer;
  line-height: 0;
  margin: 0 0.6em 0 0;
  outline: 0;
  padding: 0 !important;
  vertical-align: text-top;
  height: 20px;
  width: 20px;
  -webkit-appearance: none;
  opacity: 0.5;
}

input[type="checkbox"]:hover {
  opacity: 1;
}

input[type="checkbox"]:checked {
  background-color: #000;
  opacity: 1;
}

input[type="checkbox"]:before {
  content: "";
  position: absolute;
  right: 50%;
  top: 50%;
  width: 4px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  margin: -1px -1px 0 -1px;
  transform: rotate(45deg) translate(-50%, -50%);
  z-index: 2;
}
.cat {
  margin-right: 40px;
  background-color: #ffffff;
  /* border-radius: 4px; */
  /* border: 0.5px solid #000; */
  /* border-bottom: 0.5px solid #000; */
  /* overflow: hidden; */
  float: left;
}
.cat label input + span {
  border: 0.5px solid #000;
  transition: border 0.3s;
}
.cat input:checked + span {
  border: none;
}

.height-70px {
  height: 70px;
}
.cat label {
  float: left;
  line-height: 3em;
  width: 10em;
  height: 3em;
}

.cat label span {
  text-align: center;
  display: block;
}

.cat label input {
  position: absolute;
  display: none;
  color: #fff !important;
}

.cat label input + span {
  opacity: 0.5;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
}

.cat input:checked + span {
  color: #000;
  opacity: 1;
}

.action input:checked + span {
  background-color: #1a1a1a33;
}

.comedy input:checked + span {
  background-color: #1a1a1a33;
}
.cat label input:checked + span {
  border: none;
}
/* work */
.gallery {
  display: grid;
  grid-gap: 75px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 300px;
  grid-auto-flow: dense;
  /* max-width: 1200px; */
  margin: 55px auto;
  /* padding: 0 10px; */
}

.gallery__item {
  align-items: center;
  display: flex;
  justify-content: center;
}
.gallery__item > img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  object-position: top;
}
.gallery__item--hor {
  grid-column: span 2;
}
.gallery__item--hor2 {
  grid-column: span 2;
}
.gallery__item--vert {
  grid-row: span 2;
}

.gallery__item--lg {
  grid-column: span 2;
  grid-row: span 2;
}
.gallery__item--lg2 {
  grid-column: span 1;
  grid-row: span 2;
}
.gallery__item--hor3 {
  grid-column: span 2;
}
.work-heading {
  color: #1a1a1a;
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  padding-top: 12px;
}
.work-subheading {
  color: #1a1a1a;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.5;
  padding-top: 6px;
}
.work-redirect {
  color: #000;
  font-family: Barlow;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

.animated-svg {
  animation: moveUpAndDown 1.6s ease-in infinite;
}
@keyframes moveUpAndDown {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(1.4956%, -31.4956%, 0);
  }
  50%,
  100% {
    opacity: 0;
    transform: translate3d(71.4956%, -61.4956%, 0);
  }
}
/* article */
.article-heading {
  color: #1a1a1a;
  text-align: center;
  font-family: Barlow;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  justify-content: center;
}
.article-sub-heading,
.article-sub-heading > h2 {
  color: rgba(0, 0, 0, 0.9);
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
  display: flex;
  justify-content: center;
}
.main-article-content {
  color: #1a1a1a;
  font-family: "Barlow", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 31px; /* 129.167% */
}
.light-article-content {
  color: #1a1a1a;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  opacity: 0.8;
}

.sticky {
  position: sticky;
  top: 45%;
}
.articleNavlink {
  color: #1a1a1a;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
  cursor: pointer;
  margin-bottom: 10px;
}
.articleNavlink.active {
  color: #1a1a1a;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  opacity: 1 !important;
}
.side-article-heading {
  color: #1a1a1a;
  font-family: Barlow;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.side-article-subheading {
  color: #000;
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.6;
}
.side-article-download {
  color: #000;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}
.sticky-top-with-padding {
  top: 80px !important;
  z-index: 1 !important;
}
